@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #0b5924;
}

/* logo & headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #073b17;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 33px;
}

/* navigation links */

#menu {
    letter-spacing: 3px;
    font-size: 100%;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 33px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0b5924;
}

.active {
    border-bottom: 1px solid #0b5924;
}

/* discover-adriatic-with-us image */

#hero-image {
    width: 100%;
    height: 600px;
    overflow: hidden;

    background: url(../images/adriatique-six.jpeg) no-repeat center center;
    filter: brightness(0.5)
}

/* hero text */

#hero-text {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 250px;

    background-color: transparent;
}

#hero-text h2 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;

}

#hero-text h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

/* vacation section */

#vacation-section {
    width: 100%;
    height: auto;
}

.vacation {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    vertical-align: center;
    display: inline-block;

    position: relative;
    left: 25%;
}

#vacation-section h2 {
    font-size: 2vw;
    text-align: center;
}

#vacation-section p {
    font-size: 1vw;
    padding: 0 15%;
}

/* destination-section */

#destinations-section {
    width: 100%;
}

#destination-section-content {
    text-align: center;
    padding: 20px 60px 20px 60px;
    background-color: #dbd6fb;
}

#croatia-coast {
    width: 35%;
}

.croatia {
    display: inline-block;
    vertical-align: center;
}

#croatia-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#croatia-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.hvar-image {
    width: 300px;
}

#montenegro-coast {
    width: 35%;
}

#montenegro-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#montenegro-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.budva-image {
    width: 300px;
}

.montenegro {
    display: inline-block;
    vertical-align: center;
    position: relative;
}

/* footer */

footer {
    height: 150px;
    background-color: #fff;
}

.social-net {
    text-align: center;
}

.social-net > li {
    display: inline;
}

.social-net i {
    font-size: 150%;
    color: #073b17;
    margin: 60px;
    padding: 2.5px;
}

/* book-now-image-section */

#book-now-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#book-now-image {
    max-width: 100%;
    height: auto;
    position: relative;

    filter: brightness(0.7);
}

#book-now-text h6{
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    position: relative;
    bottom: 200px;

    margin-left: 30px;
    margin-right: 30px;
}

/* book-now-form-section */

#book-now-form-section {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.book-now {
    width: 50%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;

}

/* book-now-form-section headings */

#book-now-form-section h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
}

#book-now-form-section h3 {
    text-transform: uppercase;
    font-size: 1.7vw;
    text-align: center;
    margin-top: 15px;
}

/* book-now-form */

#bn-form {
    width: 100%;
}

#book-now-form {
    background-color: #cdead6;
    width: 33%;
    text-align: left;
    padding: 20px 60px 20px 60px;
    margin: 0 auto;
}

/* book-now-form heading */

#book-now-form h2 {
    margin-bottom: 20px;
    font-size: 1.6vw;
}

#book-now-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3vw;
}

/* text-input */

.text-input {
    height: 33px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
}

.radio {
    position: relative;
    vertical-align: center;
    margin-right: 15px;
}

/* button */

.submit {
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 100%;
    background-color: #073b17;
}

/* confirmation section */

#confirmation-section {
    margin-top: 80px;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    background-color: #cdead6;
}

.confirmation {
    height: auto;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

/* confirmation section headings */

#confirmation-section h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    margin-top: 33px;
}

#confirmation-section h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
}

/* about us section */

#about-us-section {
    width: 100%;
    height: 600px;
}

/* about us image */

#about-us-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: url(../images/about-us-image.jpeg) no-repeat center center;
}

/* about us text */

#about-us-text {
    width: 100%;
    height: auto;
}

#about-us-text h2 {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

#about-us-text p {
    margin: 15px 60px 15px 60px;
    text-align: center;
    font-size: 1.3vw;
}

/* our mission image */

#our-mission {
    width: 100%;
    height: auto;
}

#our-mission-image {
    
        width: 100%;
        height: 350px;
        background: url(../images/our-mission-image.jpeg) no-repeat center center;
        margin-top: 40px;
}

/* our mission text */

#our-mission-text h2 {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

#our-mission-text p {
    margin: 15px 60px 15px 60px;
    text-align: center;
    font-size: 1.3vw;
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #vacation-section h2 {
        font-size: 4vw;
    }

    #vacation-section p {
        font-size: 2vw;
    }
}

/* For screen sizes from min-width: 480px till max-width: 1000px */
@media screen and (min-width: 480px) and (max-width: 1000px) {
    
    #destination-section {
        width: 100vw;
    }

    #destination-section-content {
        padding: 0;
    }

    #croatia-coast {
        width: 100%;
        height: auto;
    }

    .croatia {
        vertical-align: center;
        position: relative;
    }

    #hvar-image {
        width: 200%;
        margin-top: 20%;
    }

    #croatia-header {
        font-size: 3vw;
    }

    #croatia-content {
        font-size: 2vw;
        margin: 0 0 3% 0;
    }

    #montenegro-coast {
        width: 100%;
        padding-top: 30px;
    }

    .montenegro {
        vertical-align: center;
        position: relative;
    }

    #budva-image {
        width: 200px;
        margin: 0 0 20px 0;
    }

    #montenegro-header {
        font-size: 3vw;
    }

    #montenegro-content {
        font-size: 2vw;
        margin: 0 0 3% 0;
    }

    /* book now form headings */

    #book-now-text h6 {
        font-size: 1.6vw;
    }

    #book-now-form-section h2 {
        font-size: 5vw;
    }

    #book-now-form-section h3 {
        font-size: 3.5vw;
    }

    #bn-form {
        width: 100%;
    }

    #book-now-form {
        width: 50%;
    }

    /* about us section */

    #about-us-text h2 {
        font-size: 4vw;
    }

    #about-us-text p {
        font-size: 2vw;
    }

    #about-us-section {
        height: 800px;
    }

    #about-us-text {
        margin-top: 100px;
    }

    /* our mission section */

    #our-mission-section {
        height: 800px;
    }

    #our-mission-text h2 {
        font-size: 4vw;
    }

    #our-mission-text p {
        font-size: 2vw;
    }

    #our-mission-text {
        margin-top: 150px;
    }
}

/* for screen sizes from 0px till 480px */
@media screen and (min-width: 0px) and (max-width: 480px) {
    
    #destinations-section {
        width: 100vw;
    }

    /* croatia part in destination sections */

    #croatia-coast {
        width: 100%;
    }

    .croatia {
         vertical-align: middle;
         position: relative;
    }

    .hvar-image {
        width: 200px;
        
    }

    #croatia-header {
        font-size: 3.6vw;
    }

    #croatia-content {
        font-size: 3vw;
        margin: 0 0 3% 0;
        padding: 0;
    }

    /* montenegro part in destinations section */

    #montenegro-coast {
        width: 100%;
        padding-top: 30px;
    }

    .montenegro {
        vertical-align: middle;
        position: relative;
    }

    .budva-image {
        width: 200px;
    }

    #montenegro-header {
        font-size: 3.6vw;
    }

    #montenegro-content {
        font-size: 3vw;
        margin: 0 0 3% 0;
        padding: 0;
    }

    /* menu from header */

    #menu {
        font-size: 75%;
    }

    /*vacation section paragraph */

    #vacation-section p {
        font-size: 3vw;
    }

    /* footer icons */

    .social-net i {
        margin: 20px;
    }

    .social-net {
        position: relative;
        top: 40px;
    }

    /* book now section */

    #book-now-text h6 {
        font-size: 2vw;
    }

    #book-now-image {
        height: 200px;
        width: 100%;
    }

    #book-now-form-section h2 {
        font-size: 5vw;
    }

    #book-now-form-section h3 {
        font-size: 3.5vw;
    }

    #book-now-form {
        text-align: left;
        padding: 10px 60px 10px 60px;
        width: 50%;
        margin: 0 auto;
    }

    /* about us section */

    #about-us-section {
        height: 780px;
    }

    #about-us-section h2 {
        font-size: 7vw;
    }

    #about-us-section p {
        font-size: 3.8vw;
    }

    /* our mission section */

    #our-mission-section {
        height: 700px;
    }

    #our-mission-section h2 {
        font-size: 7vw;
    }

    #our-mission-section p {
        font-size: 3.8vw;
    }
}