@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #0b5924;
}

/* logo & headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #073b17;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 33px;
}

/* navigation links */

#menu {
    letter-spacing: 3px;
    font-size: 100%;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 33px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0b5924;
}

.active {
    border-bottom: 1px solid #0b5924;
}

/* discover-adriatic-with-us image */

#hero-image {
    width: 100%;
    height: 600px;
    overflow: hidden;

    background: url(../images/adriatique-six.jpeg) no-repeat center center;
    filter: brightness(0.5)
}

/* hero text */

#hero-text {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 250px;

    background-color: transparent;
}

#hero-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;

}

#hero-text h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

/* vacation section */

#vacation-section {
    width: 100%;
    height: auto;
}

.vacation {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    vertical-align: center;
    display: inline-block;

    position: relative;
    left: 25%;
}

#vacation-section h2 {
    font-size: 2vw;
    text-align: center;
}

#vacation-section p {
    font-size: 1vw;
    padding: 0 15%;
}

/* destination-section */

#destinations-section {
    width: 100%;
}

#destination-section-content {
    text-align: center;
    padding: 20px 60px 20px 60px;
    background-color: #dbd6fb;
}

#croatia-coast {
    width: 35%;
}

.croatia {
    display: inline-block;
    vertical-align: center;
}

#croatia-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#croatia-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.hvar-image {
    width: 300px;
}

#montenegro-coast {
    width: 35%;
}

#montenegro-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#montenegro-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.budva-image {
    width: 300px;
}

.montenegro {
    display: inline-block;
    vertical-align: center;
    position: relative;
}

