@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #0b5924;
}

/* logo & headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #073b17;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 33px;
}

/* navigation links */

#menu {
    letter-spacing: 3px;
    font-size: 100%;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 33px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0b5924;
}

.active {
    border-bottom: 1px solid #0b5924;
}

/* discover-adriatic-with-us image */

#hero-image {
    width: 100%;
    height: 600px;
    overflow: hidden;

    background: url(../images/adriatique-six.jpeg) no-repeat center center;
    filter: brightness(0.5)
}

/* hero text */

#hero-text {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 250px;

    background-color: transparent;
}

#hero-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;

}

#hero-text h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}

/* vacation section */

#vacation-section {
    width: 100%;
    height: auto;
}

.vacation {
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    vertical-align: center;
    display: inline-block;

    position: relative;
    left: 25%;
}

#vacation-section h2 {
    font-size: 2vw;
    text-align: center;
}

#vacation-section p {
    font-size: 1vw;
    padding: 0 15%;
}

/* destination-section */

#destinations-section {
    width: 100%;
}

#destination-section-content {
    text-align: center;
    padding: 20px 60px 20px 60px;
    background-color: #dbd6fb;
}

#croatia-coast {
    width: 35%;
}

.croatia {
    display: inline-block;
    vertical-align: center;
}

#croatia-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#croatia-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.hvar-image {
    width: 300px;
}

#montenegro-coast {
    width: 35%;
}

#montenegro-header {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

#montenegro-content {
    font-size: 1vw;
    text-align: center;
    margin: -10px 10px 10px 10px;
    padding: 0 20%;
}

.budva-image {
    width: 300px;
}

.montenegro {
    display: inline-block;
    vertical-align: center;
    position: relative;
}

/* footer */

footer {
    height: 150px;
    background-color: #fff;
}

.social-net {
    text-align: center;
}

.social-net > li {
    display: inline;
}

.social-net i {
    font-size: 150%;
    color: #073b17;
    margin: 60px;
    padding: 2.5px;
}

/* book-now-image-section */

#book-now-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#book-now-image {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* book-now-form-section */

#book-now-form-section {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.book-now {
    width: 50%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;

}

/* book-now-form-section headings */

#book-now-form-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
}

#book-now-form-section h2 {
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 15px;
}

/* book-now-form */

#bn-form {
    width: 100%;
}

#book-now-form {
    background-color: #cdead6;
    width: 33%;
    text-align: left;
    padding: 20px 60px 20px 60px;
    margin: 0 auto;
}

/* book-now-form heading */

#book-now-form h2 {
    margin-bottom: 20px;
}

#book-now-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* text-input */

.text-input {
    height: 33px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
}

.radio {
    position: relative;
    vertical-align: center;
    margin-right: 15px;
}

/* button */

.submit {
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 100%;
    background-color: #073b17;
}

/* confirmation section */

#confirmation-section {
    margin-top: 80px;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    background-color: #cdead6;
}

.confirmation {
    height: auto;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

/* confirmation section headings */

#confirmation-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    margin-top: 33px;
}

#confirmation-section h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
}

/* about us section */

#about-us-section {
    width: 100%;
    height: 600px;
}

/* about us image */

#about-us-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: url(../images/about-us-image.jpeg) no-repeat center center;
}

/* about us text */

#about-us-text {
    width: 100%;
    height: auto;
}

#about-us-text h1 {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

#about-us-text p {
    margin: 15px 60px 15px 60px;
    text-align: center;
    font-size: 1.3vw;
}

/* our mission image */

#our-mission {
    width: 100%;
    height: auto;
}

#our-mission-image {
    
        width: 100%;
        height: 350px;
        background: url(../images/our-mission-image.jpeg) no-repeat center center;
        margin-top: 40px;
}

/* our mission text */

#our-mission-text h1 {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

#our-mission-text p {
    margin: 15px 60px 15px 60px;
    text-align: center;
    font-size: 1.3vw;
}

